.netflix-body{
    background-color: black;
}
.header-logo{
    height: 25px;
}

 .mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
   
 }

  .mid-section-heading{
    color: white;
  }
  .mid-section-profile{
    display: flex;
  }

.mid-section-profile-image{
    height: 192px;
    width: 192px;
}